/********************* GLOBAL STYLES **********************/
*{ 
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #c4f7f3;
    font-family: 'Roboto', sans-serif;
}

header{
    background: #fff;
    padding: 10px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-size: 2.8em;
    padding-bottom: 15px;
    text-transform: uppercase;
}

/********************* PAGE STYLES**********************/
.shopping-cart {
    width: 750px;
    height: 580px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}
  
.item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
    border-bottom:  1px solid #E1E8EE;
}

.cart-header {
  font-weight: bold;
  font-size: 1.2em;
  color: #5E6977;
  border-bottom: 3px solid #E1E8EE;
  padding: 20px;
}

.btn-like {
    color: #da1d1d;
    border: none;
    background-color: transparent;
    font-size: 1.1rem;
    transition:all .2s ease 0s;
    filter: grayscale(100%);
}
.is-active {
  filter:none !important;
}
   
.item-preview {
  width: 25%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.item-image img {
  width: 60%;
  position: relative;
  margin-left: 30px;
  margin-top: -3%;
  border-radius: 5px;
}
.description {
    width: 25%;
    
}
.description span {
    display: block;
    font-size: 14px;
    color: #43484D;
    font-weight: 400;
    padding-top: 10px;
    margin-right: 60px;
}   
.description span:first-child {
    margin-bottom: 5px;
}
.description span:last-child {
    font-weight: 300;
    margin-top: 8px;
    color: #86939E;
}
.quantity {
    width: 30%;
}
.quantity-input {
    width: 50px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    padding: 0;
    text-align: center;
    margin-right: 15px;
}

.item-price {
  width: 20%;
  text-align: center;
}
.btn {
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-remove { 
  height: 32px;
  width:6em;
  color: white;
  background-color: #EB5757;
  font-weight: bold;
}
.btn-remove:hover {
  background-color: #CC4C4C;
}

.cart-total {
  text-align: end;
}
.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  margin-right: 20px;
}
.cart-total-price {
  font-size: 1.1em;
  margin-top: 10px;
  margin-right: 10px;
}
.btn-checkout {
  height: 45px;
  width:8em;
  color: white;
  background-color: #3fcfff;
  font-weight: bold;
  display: block;
  margin: 40px auto 80px auto;
  font-size: 1.5em;
}
.btn-checkout:hover {
  background-color: #56CCF2;
}


  /********************* RESPONSIVE **********************/
  
@media (max-width: 800px) {
    .shopping-cart {
      width: auto;
      height: auto;

    }
    .item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .cart-header {
      display: none;
    }
    .item-image img {
      width: 150%;
      text-align: center;
    }
    .item-image,
    .quantity{
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
}